{% macro navlink(current, match, label) %}
    <li class="nav-item">
        <a class="nav-link" class="nav-item {{ current == match ? "active" : "" }}" href="{{ path("app_main_index") }}">{{ label }}</a>
    </li>
{% endmacro %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sensio TV+</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ _self.navlink(current, "app_main_index", "Home") }}
            {{ _self.navlink(current, "app_movie_index", "Movie") }}
            {{ _self.navlink(current, "app_book_index", "Book") }}
            {{ _self.navlink(current, "app_contact_index", "Contact") }}
        </ul>
    </div>
</nav>
